@font-face {
    font-family: "chosunNm";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/chosunNm/chosunNm.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/chosunNm/chosunNm.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/chosunNm/chosunNm.ttf") format("truetype");
    font-display: swap;
} 
.chosunNm {
    font-family: "chosunNm";
}